<html style="margin: 0;
padding: 0;">
    <head>
      <div data-role="header" data-position="fixed" style="  margin: 0;padding: 0;">
        <header class="site-navbar" role="banner" style="background-color:rgba(175, 173, 173, 0.495); background: fill;margin-top: 0%;padding: 0; position: fixed;">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-11 col-xl-2">
                  <h1 class="mb-0 site-logo"><a href="https://powerpartners.co.za" class="text-white mb-0"><img src="{{url_for('static', filename='images/Logo.png')}}" alt="Power Partners" style="width:200px;height:100px;"></a></h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                  <nav class="site-navigation position-relative text-right" role="navigation">
                    <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                      <li><a href="Home"><span>Home</span></a></li>        
                      <li><a href="Summary"><span>Daily Summary</span></a></li>
                      {% if current_user.is_anonymous %}
                      <li><a href="login"><span>Login</span></a></li>
                      {% else %}
                      <li><a href="logout"><span>Logout</span></a></li>
                      {% endif %}
                      <li><a href="addDevice"><span>Add Device</span></a></li>
                      <li><a href="contact.html"><span>Contact</span></a></li>
                    </ul>
                  </nav>
                </div>
                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
                </div>
              </div>
            </div>
          </header>
    </div>
        <link rel="stylesheet" type="text/css" href="style.css">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    
    
        <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        
        <!-- Style -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body >
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>

