<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">


    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    
  </head>




  <div data-role="header" data-position="fixed">
    <header class="site-navbar" role="banner" style="background-color: gray; background: fill;margin-top: 0;">

        <div class="container">
          <div class="row align-items-center">
            
            <div class="col-11 col-xl-2">
              <h1 class="mb-0 site-logo"><a href="https://powerpartners.co.za" class="text-white mb-0"><img src="{{url_for('static', filename='images/Logo.png')}}" alt="Power Partners" style="width:200px;height:100px;"></a></h1>
              
            </div>
            <div class="col-12 col-md-10 d-none d-xl-block">
              <nav class="site-navigation position-relative text-right" role="navigation">
  
                <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                          
                  <li><a href="Summary"><span>Daily Summary</span></a></li>
                  {% if current_user.is_anonymous %}
                  <li><a href="login"><span>Login</span></a></li>
                  {% else %}
                  <li><a href="logout"><span>Logout</span></a></li>
                  {% endif %}
                  <li><a href="addDevice"><span>Add Device</span></a></li>
                  <li><a href="contact.html"><span>Contact</span></a></li>
                </ul>
              </nav>
            </div>
  
  
            <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
  
            </div>
  
          </div>
        </div>
        
      </header>
</div>


  <body >
    <br></br>
    <div class="container"style="margin-top: 150px;">



      <form id="date-form" >
        <select id="device-select" name="device_name"> 
          {% for device in devices %}
          <option value="{{ device['device_name'] }}">{{ device['device_name'] }}</option>
          {% endfor %}
        </select>
        <label for="selected-date">Select a date:</label>
        <input type="date" id="selected-date" name="selected-date" value="2021-01-02" >
        <input id="submit-button" type="submit" value="Submit" style="border-radius: 10px;">
      </form>
      
<script>

 document.getElementById('device-select').addEventListener('change', function() {
  document.getElementById('submit-button').click();
  setTimeout(function() {
    refreshclick();
  }, 200);
});

function refreshclick()
{
  var htmlObject = document.getElementById("renHourlyObj");
  var buttonR = htmlObject.contentWindow.document.getElementById("refresh-btn");
  buttonR.click();
  var htmlObject = document.getElementById("renDailyObj");
  var buttonR = htmlObject.contentWindow.document.getElementById("refresh-btn");
  buttonR.click();
  var htmlObject = document.getElementById("renMonthlyObj");
  var buttonR = htmlObject.contentWindow.document.getElementById("refresh-btn");
  buttonR.click();
}

document.getElementById('selected-date').addEventListener('change', function() {
  document.getElementById('submit-button').click();
  setTimeout(function() {
    var htmlObject = document.getElementById("renHourlyObj");
    var buttonR = htmlObject.contentWindow.document.getElementById("refresh-btn");
    buttonR.click();
  }, 200);
});

  document.getElementById("date-form").addEventListener("submit", function(event) {
  event.preventDefault();

  // Get the selected date
  var selectedDate = document.getElementById("selected-date").value;
  var selectedDevice = document.getElementById("device-select").value;
  // Make the AJAX call
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "Summary", true);
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhr.onreadystatechange = function() {
    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
      // Display the result in the HTML
      var data = JSON.parse(this.responseText);   
    }
  };

  xhr.send("selected-date=" + selectedDate+ "&device_name="+selectedDevice);
});

/* function loadSummary() {
  // Get the selected date
  var selectedDate = document.getElementById("selected-date").value;
  var selectedDevice = document.getElementById("device-select").value;

  // Make the AJAX call
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "hourly", true);
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhr.onreadystatechange = function() {
    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
      // Display the result in the HTML
      var data = JSON.parse(this.responseText);
      // document.getElementById("result").innerHTML = this.responseText;
    }
  };
  xhr.send("selected-date=" + selectedDate+ "&device_name="+selectedDevice);
  console.log(selectedDevice);

} */
window.onload=function(){
  refreshclick();
};

</script>
      <!-- <select id="device-select" name="device_name">
        {% for device in devices %}
        <option value="{{ device['device_name'] }}">{{ device['device_name'] }}</option>
        {% endfor %}
        <input type="submit" value="Submit">
      </select>
      <form id="date-form">
        <label for="selected-date">Select a date:</label>
        <input type="date" id="selected-date" name="selected-date" value="2021-01-04">
        <input type="submit" value="Submit">
      </form> -->


      

        <h1 style="text-align: center;">Hourly Energy Usage Plot</h1>
        <div id="chart-container" style="text-align: center;">

            <object data="renHourly"
                width="72%"
                height="650"
                type="image/jpeg"
                overflow= "hidden"
                id="renHourlyObj">
                
            </object>
        </div>

    </div>
    <div class="container">
      <h1 style="text-align: center;">Daily Energy Usage Plot</h1>
      <div id="chart-container" style="text-align: center;">
          <object data="renDaily"
              width="72%"
              height="650"
              type="image/jpeg"
              overflow= "hidden"
              id="renDailyObj">
              
          </object>
      </div>
    </div>
    <div class="container">
      <h1 style="text-align: center;">Monthly Energy Usage Plot</h1>
      <div id="chart-container" style="text-align: center;">
        
          <object data="renMonthly"
              width="72%"
              height="650"
              type="image/jpeg"
              overflow= "hidden"
              id="renMonthlyObj">
          </object>
      </div>
    </div>
      
  </body>
</html>