<!DOCTYPE html>
<html>
  <!-- Navbar code -->
  <title>Power Partners</title>
  <head>
    <div data-role="header" data-position="fixed" style="  margin: 0;padding: 0;">
      <header class="site-navbar" role="banner" style="background-color:rgba(175, 173, 173, 0.495); background: fill;margin-top: 0%;padding: 0; position: fixed;">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-11 col-xl-2">
                <h1 class="mb-0 site-logo"><a href="https://powerpartners.co.za" class="text-white mb-0"><img src="{{url_for('static', filename='images/Logo.png')}}" alt="Power Partners" style="width:200px;height:100px;"></a></h1>
              </div>
              <div class="col-12 col-md-10 d-none d-xl-block">
                <nav class="site-navigation position-relative text-right" role="navigation">
                  <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                    <li><a href="Home"><span>Home</span></a></li>        
                    <li><a href="Summary"><span>Daily Summary</span></a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="login"><span>Login</span></a></li>
                    {% else %}
                    <li><a href="logout"><span>Logout</span></a></li>
                    {% endif %}
                    <li><a href="addDevice"><span>Add Device</span></a></li>
                    <li><a href="contact"><span>Contact</span></a></li>
                  </ul>
                </nav>
              </div>
              <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
              </div>
            </div>
          </div>
        </header>
  </div>


    <link rel="stylesheet" type="text/css" href="style.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">


    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='Select.css')}}">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
  </head>


  



<!-- Device and date selector -->
  <body style="background-color:rgba(175, 173, 173, 0.495); background: fill;"> <!-- style="background-color: rgb(32, 32, 32);" -->
    <br></br>
    <form id="date-form" style="margin-left: 10%;" >
      <div class="select-dropdown" style="width: fit-content;">
        <select id="device-select" name="device_name"> 
          {% for device in devices %}
          <option value="{{ device['device_name'] }}">{{ device['device_name'] }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- <label for="selected-date">Select a date:</label> -->
      <p class="" style="margin: 4px;"></p>
      <input type="date" id="selected-date" name="selected-date" value="2021-01-02" >
      <input id="submit-button" type="submit" value="Submit" style="border-radius: 10px; visibility: hidden;">
    </form>
    <div class="container"style="margin-top: 125px; position:sticky;">
      
      
<script>

/* if the serial number or date is changed the chart automatically updates */
 document.getElementById('device-select').addEventListener('change', function() {
  document.getElementById('submit-button').click();
  setTimeout(function() {
    refreshclick();
  }, 200);
});

/* Function for pressing the refresh button */
function refreshclick()
{
  var htmlObject = document.getElementById("renHourlyObj");
  var buttonR = htmlObject.contentWindow.document.getElementById("refresh-btn");
  buttonR.click();
  var htmlObject = document.getElementById("renDailyObj");
  var buttonR = htmlObject.contentWindow.document.getElementById("refresh-btn");
  buttonR.click();
  var htmlObject = document.getElementById("renMonthlyObj");
  var buttonR = htmlObject.contentWindow.document.getElementById("refresh-btn");
  buttonR.click();
}

document.getElementById('selected-date').addEventListener('change', function() {
  document.getElementById('submit-button').click();
  setTimeout(function() {
    var htmlObject = document.getElementById("renHourlyObj");
    var buttonR = htmlObject.contentWindow.document.getElementById("refresh-btn");
    buttonR.click();
    var htmlObject = document.getElementById("renDailyObj");
    var buttonR = htmlObject.contentWindow.document.getElementById("refresh-btn");
    buttonR.click();
    var htmlObject = document.getElementById("renMonthlyObj");
    var buttonR = htmlObject.contentWindow.document.getElementById("refresh-btn");
    buttonR.click();
  }, 200);
});

/* Send the data in order to filter db and plot chart */
  document.getElementById("date-form").addEventListener("submit", function(event) {
  event.preventDefault();

  // Get the selected date
  var selectedDate = document.getElementById("selected-date").value;
  var selectedDevice = document.getElementById("device-select").value;
  // Make the AJAX call
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "Summary", true);
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhr.onreadystatechange = function() {
    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
      // Display the result in the HTML
      var data = JSON.parse(this.responseText);   
    }
  };

  xhr.send("selected-date=" + selectedDate+ "&device_name="+selectedDevice);
});

/* function loadSummary() {
  // Get the selected date
  var selectedDate = document.getElementById("selected-date").value;
  var selectedDevice = document.getElementById("device-select").value;

  // Make the AJAX call
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "hourly", true);
  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  xhr.onreadystatechange = function() {
    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
      // Display the result in the HTML
      var data = JSON.parse(this.responseText);
      // document.getElementById("result").innerHTML = this.responseText;
    }
  };
  xhr.send("selected-date=" + selectedDate+ "&device_name="+selectedDevice);
  console.log(selectedDevice);

} */
/* Plot charts on site load */
window.onload=function(){
  refreshclick();
};

/* window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 1500) {
    document.getElementById("device-select").style.top = "0";
  } else {
    document.getElementById("device-select").style.top = "-50px";
  }
} */

</script>
      <!-- <select id="device-select" name="device_name">
        {% for device in devices %}
        <option value="{{ device['device_name'] }}">{{ device['device_name'] }}</option>
        {% endfor %}
        <input type="submit" value="Submit">
      </select>
      <form id="date-form">
        <label for="selected-date">Select a date:</label>
        <input type="date" id="selected-date" name="selected-date" value="2021-01-04">
        <input type="submit" value="Submit">
      </form> -->


      

        

    </div>
    <div class="container">
      <h1 style="text-align: center;">Hourly Energy Usage Plot</h1>
      <div id="chart-container" style="text-align: center;">

          <object data="renHourly"
              width="72%"
              height="650"
              type="image/jpeg"
              
              id="renHourlyObj">
              
          </object>
      </div>
    </div>
    <div class="container">
      <h1 style="text-align: center;">Daily Energy Usage Plot</h1>
      <div id="chart-container" style="text-align: center;">
          <object data="renDaily"
              width="72%"
              height="650"
              type="image/jpeg"
              
              id="renDailyObj">
              
          </object>
      </div>
    </div>
    <div class="container">
      <h1 style="text-align: center;">Monthly Energy Usage Plot</h1>
      <div id="chart-container" style="text-align: center;">
        
          <object data="renMonthly"
              width="72%"
              height="650"
              type="image/jpeg"
              
              id="renMonthlyObj">
          </object>
      </div>
    </div>
      
  </body>
</html>