<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <!-- HTML code goes here -->
    <header>
        <h1>Welcome to Power Partners</h1>
    </header>
    <nav>
        <ul>
            <li><a href="Home.html">Home</a></li>
        </ul>
    </nav>
    <br></br>
    <div class="container" style="margin:0 auto; text-align:center; overflow: hidden;">
        <h1 style="text-align: center;">Monthly Energy Usage Plot</h1>
        <div id="chart-container" style="margin:0 auto; text-align:center; overflow: hidden;">
          <canvas id="chart"style="margin:0 auto; text-align:center; overflow: hidden;"></canvas>
          
            <object data="http://localhost:8888/monthly.html"
                width="1200"
                height="800"
                type="image/jpeg"
                overflow= "hidden">
            </object>
        </div>
      </div>
      
  </body>
</html>